* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/Ai2.jpg) no-repeat #000;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow: hidden;
}

ul {
    list-style: none;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    position: fixed;
    transform-style: preserve-3d; /*3D透视*/
    animation: cubeGo 10s linear infinite;
}

ul li {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f99;
    opacity: 0.7;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: #FF0000;
    font-size: 30px;
}

li:nth-child(1) {
    transform: translateZ(30px); /*Z轴偏移100px*/
}

li:nth-child(2) {
    transform: translateY(-30px) rotateX(90deg) /*X轴旋转90度*/
}

li:nth-child(3) {
    transform: translateZ(-30px) rotateY(180deg);
}

li:nth-child(4) {
    transform: translateX(30px) rotateY(90deg) rotateZ(180deg);
}

li:nth-child(5) {
    transform: translateY(30px) rotateX(-90deg) rotateZ(-90deg);
}

li:nth-child(6) {
    transform: translateX(-30px) rotateY(-90deg);
}

#wrap {
    text-align: center;
    width: 133px;
    height: 200px;
    margin: 200px auto;
    position: relative;
    transform-style: preserve-3d;
    /*使图片展示3D效果	被嵌套的子元素子元素将保留其 3D 位置。
        perspective(n)设置镜头到元素平面的距离 	为 3D 转换元素定义透视视图。
        rotateX(-10deg)	X轴旋转-10度
        rotateY(0deg)	Y轴旋转0度
        */
    transform: perspective(900px) rotateX(-10deg);
    animation: wrapGo 45s linear infinite;
}

#wrap:hover {
    animation-play-state: paused;
}

#wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 133px;
    height: 200px;
    box-shadow: 0 0 10px #FFF; /*边框阴影*/
    border-radius: 10px; /*边框圆角弧度*/
    box-reflect: below 8px linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .7) 100%); /*设置倒影 下面倒影距离8像素  线性渐变创建遮罩图像*/
    /*box-reflect: below 8px linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .7) 100%);*/
}

#wrap img:hover {
    box-shadow: 0 0 20px #f99;
    width: 135px;
    height: 205px;
}


/*定义动画*/
@keyframes cubeGo {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes wrapGo {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(20deg) rotateY(180deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(360deg);
    }
    75% {
        transform: rotateX(-20deg) rotateY(540deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(720deg);
    }
}